body {
    text-align: center;
}
h1 {
    color: blueviolet;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    text-align: justify;
    color: rgb(15, 64, 199);
    font-weight: bold;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}

.prg {
    font-size: 19px;
    font-weight: 100;
    color: rgb(236, 144, 24);
    -webkit-text-stroke: 0.5px rgb(0, 174, 255);
}

img {
    width: 1000px;
    height: 500px;
    border-style: solid;
    border-color: green;
    border-width: 10px;
    border-radius: 70px 10px;
}

body {
    background-image: linear-gradient(to top, rgb(38, 255, 85), rgb(2, 77, 2));
}