* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#tudo {
    width: 1600px;
    margin: auto;
}

#cabeça {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

#logo {
    display: flex;
    margin: 10px;
    margin-left: 130px;
    color: rgb(50, 180, 39);
}

#logo p {
    margin-left: 5px;
}

#clinica {
    font-size: 15px;
    font-weight: 800;
    width: 100px;
    margin-top: 20px;
}

#todos {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -10px;
}

#lista-top {
    display: flex;
    margin-right: 100px;
    margin-top: 9px;
}

#lista-top li {
    margin: 30px 40px 30px 50px;
    margin-top: 40px;
    color: rgb(50, 180, 39);
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    display: flex;
    justify-content: space-around;
}

#carrossel {
    width: 900px;
    height: 420px;
    border-radius: 25px;
    margin-top: 100px;
    margin-left: 50px;
    box-shadow: 5px 5px 15px black;
}

#carrossel img {
    border-radius: 25px;
}

#planos {
    margin: 70px 170px 0px 0px;
}

#plano h4, #plano2 h4 {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 30px;
}

#plano div, #plano2 div {
    display: flex;
}

#plano h5, #plano2 h5 {
    color: rgb(50, 180, 39);
    font-size: 20px;
    margin-left: -25px;
}

#plano p, #plano2 p {
    color: rgb(50, 180, 39);
    font-size: 100px;
    font-weight: 800;
    position: relative;
    bottom: 20px;
    left: 10px;
}

#plano h6, #plano2 h6 {
    color: rgb(50, 180, 39);
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    position: relative;
    bottom: 30px;
}

#plano2 {
    margin-top: 20px;
}

#loginbutton {
    background-color: rgb(255, 145, 0);
    color: white;
    margin: 30px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    right: 120px;
    top: 8px;
    font-size: 20px;
    font-weight: 700;
}

#loginbutton p {
    margin-top: 8px;
}

#borda {
    background-image: linear-gradient(135deg, green, rgb(0, 255, 0));
    border-radius: 20px;
    width: 700px;
    height: 470px;
    position: absolute;
    top: 180px;
}

#cadastro {
    width: 690px;
    height: 460px;
    background: white;
    margin: 5px;
    border-radius: 15px;   
}

#cadastro h1 {
    text-align: center;
    font-size: 35px;
}

#cadastro p, #cadastro label  {
    position: relative;
    left: 159px;
}

#cadastro p {
    font-size: 13px;
    opacity: 0.9;
}

#cadastro label {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

#caixa1 {
    width: 370px;
    height: 29px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 1px 1px 3px black;
}

#caixa1:focus {
    outline: 0;
}

input {
    font-size: 15px;
}

#enviar {
    position: relative;
    left: 250px;
    width: 170px;
    height: 40px;
    margin-top: 15px;
    background-color: white;
    border: 2px solid rgb(0, 158, 0);
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
}

#cadastro h1, #enviar, #cadastro p, #cadastro label {
    top: 15px;
}