@keyframes degrade {
	0%{background-position: 0%;}
	100%{background-position: 100%;}
}

body {
	background: rgb(140,63,251);
	background: radial-gradient(circle, rgb(61, 0, 146) 0%, rgb(179, 70, 252) 100%);
	animation: degrade 10s 2s infinite alternate;
	background-size: 500% 500%;
}

#div{
	width: 500px;
	height: 350px;
	position: relative;
	margin: auto;
	margin-top: 17%;
	border: 3px white solid;
	border-radius: 30px;
	box-shadow: 0px 0px 20px white;
	background-color: rgba(255, 255, 255, 0.116);
}

form {
	position: absolute;
	top: 25%;
	left: 30%;
	width: 40%;
	height: 40%;
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
form label {
	font-size: 24px;
	line-height: 0px;
	text-shadow: black 0.05em 0.05em 0.4em
}

form label input {
	margin-bottom: 15px;
	background-color: rgba(0, 0, 0, 0);
	border: 2px white solid;
	border-radius: 10px;
	color: white;
	width: 220px;
	height: 25px;
}

input::placeholder {
	color: rgb(211, 211, 211);
	text-shadow: rgb(212, 212, 212) 0.08em 0.08em 0.4em
}

form button {
	position: absolute;
	width: 60%;
	height: 30%;
	color: white;
	border: 3px white solid;
	border-radius: 15px;
	left: 20%;
	background-color: rgba(0, 0, 0, 0);
	font-size: 20px;
}

@keyframes botao {
	0%{background-color: rgba(0, 0, 0, 0);}
	100%{background-color: white; color: black; box-shadow: 0px 0px 20px white;}
}

button:hover {
	animation: botao 0.3s both;
}

