* {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(33, 95, 158);
}

form {
    background-color: white;
    width: 600px;
    position: relative;
    margin: 40px auto;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
}

form input {
    width: 52.5%;
    margin: 5px 0px 10px 0px;
    height: 45px;
}

#div {
    width: 80%;
    position: relative;
    margin: 10px auto;
}

p {
    padding: 10px;
    font-size: 18px;
}

[type="number"], [type="text"], [type="email"] {
    width: 300px;
    border: rgb(121, 121, 121) 2px solid;
}

table {
    border: rgb(84, 84, 84) 1px solid;
}

#aprovado {
    color: rgb(2, 145, 2);
}

#recuperacao {
    color: rgb(188, 163, 0);
}

#reprovado {
    color: rgb(193, 1, 1);
}

button {
    width: 300px;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}
