* {
    margin: 0;
    padding: 0;
}

body, html {
    background-color: #212529;
    width: 100%;
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar ul li {
    margin-right: 50px;
    margin-left: 15px;
}

.navbar {
    padding: 15px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
}

.container{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.avaliacao {
    background-color: rgb(0, 255, 170);
    width: 100%;
    font-weight: 500;
    border-radius: 10px;
    margin-top: 15px;
}

.valido {
    background-color: rgb(80, 251, 58);
    padding: 7px;
}

.invalido {
    background-color: rgb(244, 43, 43);
    padding: 7px;
}

#bolso {
    width: 30%;
    position: relative;
    margin: auto;

}

#cont2 {
}

form {
    width: 100%;
}

input, label, button {
    width: 350px;
}

h1 {
    color: white;
}

.resultado {
    width: 350px;
    margin-top: 15px;
    color: white;
}